<div class="wrapper">
  <button class="sideNavButton" mat-button color="accent" [routerLink]="['/']" routerLinkActive="active">Home</button>
  <button class="sideNavButton" mat-button color="accent" [routerLink]="['/Info']"  routerLinkActive="active">Info</button>
  <button class="sideNavButton" mat-button color="accent" [routerLink]="['/Guestbook']"  routerLinkActive="active">Guestbook</button>
  <button class="sideNavButton" mat-button color="accent" (click)="toggleScoolwork()">Schoolwork</button>
  <ng-container *ngIf="showSchoolWork">
    <button class="sideNavButton" mat-button color="accent" [routerLink]="['/JavaEEEshop']"  routerLinkActive="active">EShop i javaEE och jsf</button>
  </ng-container>
  <button class="sideNavButton" mat-button color="accent" [routerLink]="['/Javagames']"  routerLinkActive="active">Java games</button>
</div>
