<div class="wrapper">
  <div class="header"><h1 style="text-align: center;">Eshop</h1></div>
  <div class="carddiv">
    <mat-card class=card>
      <mat-card-content class=content>Skolarbete första terminen andra året. Java EE i backend och jsf i frontend.
         <br> Var endel utmaningar med javas legacy system och Eshopen hade behövt läggas lite mer tid på.
         <br>Länk till sidan: <a href="http://sjo0911wildfly.herokuapp.com/eshopjsf/index.xhtml">Java EE Webshop</a></mat-card-content>
    </mat-card>
    <br>
    <div class="header"><h2 style="text-align: center;">Memory</h2></div>
    <div class="eshop">
      <iframe id="Eshop"
        title="Eshop"
        width="600"
        height="600"
        src="http://sjo0911wildfly.herokuapp.com/eshopjsf/index.xhtml">
    </iframe>
    </div>
  </div>
  <br>
</div>
